
body{
    background-color:ghostwhite;
    font-family: "Roboto";
}

.box-logo{
    /* height:auto; */
    width:120px;
}

.explore-menu-section {
    background-color:white;
  }
  .menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .menu-item-image {
    border-radius: 16px;
  }
  .menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
  }
  .menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
  }
  .menu-item-card {
    border-radius: 16px;
  }


h1{
    color:#183b56;
}