.box-logo{
    /* height:auto; */
    width:120px;
}

body{
    background-image: url('pqg2bg.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
h4{
    color: cornsilk;
    
}
h1{
    color: white;
    font-weight: bold;
}
p{
    color: white;
}

.card-text{
    color:darkslategray
}

.card{
    border-radius: 5px;
    
}